@(hosts: List[Host], hostForm: Form[(String,List[String],List[String],Boolean)])

@import helper._

@main("hosts") {

<h1>@hosts.size hosts</h1>

<table class="table">
  <tr>
    <th>id</th>
    <th>hostname</th>
    <th>attributes</th>
    <th>monitored</th>
    <th>&nbsp;</th>
  </tr>
@hosts.map { host =>
  <tr>
    <td>@host.id</td>
    <td>@host.hostname</td>
    <td>
      @host.attributes.map { case(k,v) =>
        <div><code>@k</code>:<code>@v</code></div></div>
      }
    </td>
    <td>@host.monitored</td>
    <td>
    @form(routes.Application.deleteHost(host.id)) {
      <input type="submit" value="Delete">
    }
    </td>
  </tr>
}
</table>

<h2>Add a new host</h2>

@form(routes.Application.newHost) {

  @inputText(hostForm("hostname"))
  <button type="button" id="add_attr">Add an attribute</button>

  <input type="submit" value="Create">

}

<template id="attribute_form_template">
  <div>
    @inputText(hostForm("attribute_keys[]")) : @inputText(hostForm("attribute_values[]"))
    <button type="button" class="delete_attr">Remove attribute</button>
  </div>
</template>

<script type="text/javascript">
$(function(){
  var template = $('template#attribute_form_template');
  $('button#add_attr').on('click',function(e){
    $(template.html()).insertBefore(this);
    return false;
  });
  $(document.body).on('click','button.delete_attr',function(e){
    console.log(e.target);
    $(e.target).parent().remove();
    return false;
  });
});
</script>


}

