@(hosts: List[Host], hostForm: Form[String])

@import helper._

@main("hosts") {

<h1>@hosts.size hosts(s)</h1>

<table class="table">
  <tr>
    <th>id</th>
    <th>hostname</th>
    <th>attributes_json</th>
    <th>monitored</th>
    <th>&nbsp;</th>
  </tr>
@hosts.map { host =>
  <tr>
    <td>@host.id</td>
    <td>@host.hostname</td>
    <td>@host.attributes_json</td>
    <td>@host.monitored</td>
    <td>
    @form(routes.Application.deleteHost(host.id)) {
      <input type="submit" value="Delete">
    }
    </td>
  </tr>
}
</table>

<h2>Add a new host</h2>

@form(routes.Application.newHost) {

  @inputText(hostForm("hostname"))

  <input type="submit" value="Create">

}

}

