@(services: List[Service], serviceForm: Form[(String,String,List[String],Int,Int)])

@import helper._

@main("Services") {

<h1>@services.size services</h1>

<table class="table">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>description</th>
    <th>arguments</th>
    <th>command_id</th>
    <th>contact_id</th>
    <th>&nbsp;</th>
  </tr>
@services.map { service =>
  <tr>
    <td>@service.id</td>
    <td>@service.name</td>
    <td>@service.description</td>
    <td>@service.arguments.map { arg =>
      <span>@arg</span>
    }</td>
    <td>@service.command_id</td>
    <td>@service.contact_id</td>
    <td>
    @form(routes.Application.deleteService(service.id)) {
      <input type="submit" value="Delete">
    }
    </td>
  </tr>
}
</table>

<h2>Add a new service</h2>

@form(routes.Application.newService, 'id -> "service_form") {

  @inputText(serviceForm("name"))
  @inputText(serviceForm("description"))
  <button id="add_argument">Add an argument</button>
  @inputText(serviceForm("command_id"))
  @inputText(serviceForm("contact_id"))

  <input type="submit" value="Create">

}

<template id="argument_input_t">
  <div>
    @inputText(serviceForm("arguments[]"))
    <button type="button" class="delete_argument">Remove argument</button>
  </div>
</template>

<script type="text/javascript">
$(function(){
  var template = $('template#argument_input_t');
  $('button#add_argument').on('click',function(e){
    $(template.html()).insertBefore(this);
    return false;
  });
  $(document.body).on('click','button.delete_argument',function(e){
    console.log(e.target);
    $(e.target).parent().remove();
    e.preventDefault();
    return false;
  });
});
</script>

}

